<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Ecomm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ecomapp:home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:about-page'%}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:contact-page'%}">Contact</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:my-cart'%}">MyCart</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Electronics Item</a></li>
            <li><a class="dropdown-item" href="#">Clothing and Fashion</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        {% if not user.is_authenticated %}
            <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:profile'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:customerregistration'%}">Register</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:customerlogin'%}">Login</a>
        </li>
        {% else %}
        <p>Welcome {{user.username}}</p>
<li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:logout'%}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecomapp:profile'%}">Profile</a>
        </li>
        {% endif%}
        
     
      </ul>
      <form action="{% url 'ecomapp:search' %}" class="d-flex" role="search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search product here..." aria-label="Search" name="keyword" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>