{% extends "_base.html" %}

{% block title %}
Customer Login
{% endblock %}

{% block content %}
<style>
    .errorlist {
    color: red;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Login Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-primary">Login as a Customer</button>
            </form>
            <p> not registered? <a href="{% url 'ecomapp:customerregistration' %}">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}