{% extends '_base.html'%}

{% block title %}Product {% endblock %}

{% block content %}
<div class="container">
    <h3 class="mt-3">Product: {{ product.title }}</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="product-data">
            <h4>{{ product.title }}</h4>
            <h6>Category: {{ product.category }}</h6>
            <h6>Price:<span class="text-decoration-line-through">  Rs.{{ product.marked_price}}</span>  Rs{{product.selling_price}}</h6>
                <div class="my-3">
                        <a href="{% url 'ecomapp:add-cart' product.id%}" class="btn btn-info">Add To Cart</a>
                </div>
            <hr>
            <p class="text-info">Warrenty: {{ product.warrenty}}</p>
            <p class="text-info">Return Policy: {{ product.return_policy }}</p>
            <hr>
            <p >Description: {{ product.description }}</p> 
            </div>
        </div>
    </div>
</div>

{% endblock %}