{% extends '_base.html' %}
{%block title %}
Search Results
{%endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results for <span class="text-info">"{{request.GET.keyword}}"</span> </h3>
            <hr>
             {% for product in search_results %}
    
      <div class="col-md-3">
        <a href="{% url 'ecomapp:product-detail' product.slug %} " class="text-decoration-none text-dark">
        <div class="img-container bg-light text-center">
          <img src="{{ product.image.url}}" class="img-fluid" alt="" style="width:200;object-fit:cover;">
        </div>
        <div class="product-data">
          <h3>{{product.title}}</h3>
          <p>Price: <span class="text-decoration-line-through">  Rs.{{ product.marked_price}}</span>  Rs.{{product.selling_price}}</p>
        </div>
        <div>
          <a href="{% url 'ecomapp:add-cart' product.id %}" class="btn btn-primary w-100">Add To Cart</a>
        </div>
  </a>
      </div>
      


    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}